.logo-row {
  height: 107px;
  background-color: RGB(219, 167, 77);
}

.logo-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 420%;
    color: RGB(56, 162, 177);
    text-shadow: 1px 2px 1px #000;
    /*color: #b81752;*/
}

input{
    font: 20px 'Times New Roman', Times, serif !important;
    float: right !important;
}

.simple-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.tab-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.header-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}

.topic-text {
    font-size: 110%;
}

.tickers-input-row {
    height: 80px;
    background-color: RGB(255, 215, 128);
}

.wallpaper-color {
    background-color: RGB(255, 241, 217);
}

.row-padding {
    padding-bottom: 20px;
}

.toggle-in-list {
    margin-right: 7px;
    margin-bottom: 7px;
}

.area-for-table {
    padding-bottom: 20px;
}

.nav-link:not(.active) {
    color: black;
}


.table-header {
    background-color: RGB(66, 172, 187);
    font-size: 23px;
    color: white;
    text-shadow: 1px 1px 1px RGB(26, 122, 137);
    border-color: black;
}

.table-cell {
    font-size: 20px;
    color: black;
}

.colored-table-cell {
    font-size: 20px;
    color: black;
    background-color: RGB(255, 255, 255);
}



table.table-bordered{
    border:1px solid black;
    margin-top:20px;
  }
table.table-bordered > thead > tr > th{
    border:1px solid black;
}
table.table-bordered > tbody > tr > td{
    border:1px solid black;
}