<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<!-- Project CSS -->
	<link href="static/style.css" rel="stylesheet">
	<title>Hello, world!</title>
</head>

<body class="wallpaper-color">
	<div class="container-fluid">
		<div class="row logo-row">
			<div class="col-md-12">
				<div class="logo-text">Companies-Matcher</div>
			</div>
		</div>
		<div class="row tickers-input-row">
			<div class="col-md-6">
				<div class="form-group row" style="padding-top: 19px">
					<div class="col-sm-12">
						<input class="form-control" id="input-tickers" placeholder="Enter companies tickers"> </div>
				</div>
			</div>
		</div>
		<div class="row">
			<ul class="nav nav-pills nav-fill">
				<li class="nav-item nav-link tab"> <a class="nav-link tab active tab-text" data-toggle="tab" href="#multiplicators">Multiplicators</a> </li>
				<li class="nav-item nav-link tab"> <a class="nav-link tab tab-text" data-toggle="tab" href="#reports">Reports</a> </li>
				<li class="nav-item nav-link tab"> <a class="nav-link tab tab-text" data-toggle="tab" href="#empty2">Empty</a> </li>
			</ul>
		</div>
		<div class="tab-content">
			<div class="tab-pane fade show active" id="multiplicators">
				<div>
					<div class="form-group" style="padding-top: 19px">
						<div class="col-sm-12">
							<h3 class="header-text">Multiplicators</h3> </div>
						<hr>
						<div id="multiplicators-toggles" class="col-sm-12 row-padding"></div>
						<div class="col-sm-12 row-padding" id="matching-multiplicators-buttons">
							<button type="button" class="btn btn-primary simple-text" onclick="clickCreateTableListener()">Match companies multiplicators</button>
						</div>
					</div>
				</div>
				<div class="col-sm-12 area-for-table" id="matching-multiplicators"></div>
			</div>
			<div class="tab-pane fade" id="reports">
				<div class="form-group" style="padding-top: 19px">
					<div class="col-sm-12"><h3 class="header-text">Income</h3></div>
					<hr>
					<div id="income-toggles" class="col-sm-12 row-padding"></div>
					<div class="col-sm-12"><h3 class="header-text">Balance</h3></div>
					<hr>
					<div id="balance-toggles" class="col-sm-12 row-padding"></div>
					<div class="col-sm-12"><h3 class="header-text">Cash</h3></div>
					<hr>
					<div id="cash-toggles" class="col-sm-12 row-padding"></div>
					<div class="col-sm-12 row-padding" id="matching-reports-buttons">
						<button type="button" class="btn btn-primary simple-text" onclick="clickCreateReportsTableListener()">Match companies reports</button>
					</div>
				</div>
				<div class="col-sm-12 area-for-table" id="matching-reports"></div>
			</div>
			<div class="tab-pane fade" id="empty2"> Empty </div>
		</div>
	</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<!-- Project JavaScript -->
	<script src="scripts/tickersInput.js"></script>
	<script src="scripts/tabs/multiplicatorsTab.js"></script>
	<script src="scripts/tabs/reportsTab.js"></script>
	<script src="scripts/domMethods.js"></script>
	<script src="scripts/storageMethods.js"></script>
	<script src="scripts/toggle.js"></script>
	<script src="scripts/spinner.js"></script>
	<script src="scripts/message.js"></script>
	<script src="scripts/start.js"></script>
	<script>
		start();
	</script>
</body>

</html>